<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/reset-min.css" />
    <style type="text/css">
        body {
            background-color: #FCFCFC;
            color: #111;
            font-family: Georgia, serif;
            text-align: center;
        }

        #four {
            font-size: 34px;
            margin-top: 2em;
        }

        #text {
            font-size: 18px;
            margin-bottom: 2em;
        }
    </style>

    <title> 500 - tidypub </title>
</head>

<body>
    <div id="content">
        <div id="four">500</div>
        <div id="text">There has been an error.</div>
        <div class="logo"><a href="/"><img src="static/images/logo.png"/></a>&nbsp;</div>
    </div>
</body>
</html>
