<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">

<head>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16433974-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    <link rel="stylesheet" type="text/css" href="/static/css/reset-min.css" />
    <!--<script type="text/javascript" src="/static/js/hyphenate.js"></script>-->
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/post.css">
    <link rel="stylesheet" type="text/css" media="print" href="/static/css/print.css">

    <title>    
    {% if title %}
        {{title}} - tidypub
    {% else %}
        Untitled - tidypub
    {% endif %}
    </title>

</head>


<body>
<div id="page">
    <div id="content">
		{% block title %}
        {% if title %}
            <div id="title">
            {{title}}
            </div>
        {% endif %}
		{% endblock %}
    
        <div id="the_text" class="hyphenate">
		{% block content %}
		{% endblock %}
        </div>
    
    </div>
    <div id="footer">
        <ul>
            <li><a href="/donate">donate</a></li>
            <li><a href="/terms">terms</a></li>
            <li><a href="/contact">contact</a></li>
            <!--<li><a href="/">contact</a></li>-->
        </ul>
        <span class="logo"><a href="/"><img src="static/images/logo.png"/></a>&nbsp;</span>
    </div>
</div>
</body>
</html>
